# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IA
.harness

# Rust build outputs
crates/dsp/target

# WASM build outputs
crates/dsp/pkg

# Turbo
.turbo

# TypeScript build outputs
*.tsbuildinfo
**/*.d.ts
**/*.d.ts.map
**/src/**/*.js
!**/src/worklet/*.js
**/src/**/*.js.map

# Environment variables
.env
